**PROBLEM 1:**

In [18]:
vGermplasm=open ("Germplasm.tsv", "r") #we open the file to read it and save it in a variable called vGermplasm
print(vGermplasm)

vLocusGene=open ("LocusGene.tsv", "r") #we open the file to read it and save it in a variable called LocusGene
print (vLocusGene)

import re #In order to do a search with regular expresions we need to import the library re first

matchObj=re.search (r'AT.G.{6}.+\n', vGermplasm.read()) #we do a research while reading the file vGermplasm. This pattern has been looked in order to search for the locus code and see what else is in the line to check the structure of the file and be able to create an appropriate database structure

if matchObj:
    print ("match Germplasm: ", matchObj.group()) #with the print, the match can be seen and as consequence the file structure
else:
    print ("No match")
                     
matchObj1=re.search (r'AT.G.{6}.+\n', vLocusGene.read()) #same idea for the other file

if matchObj1:
    print ("match LocusGene: ", matchObj1.group())
else:
    print ("No match")
    
#vGermplasm file has 4 columns. Each column is separate by tab
#LocusGene file has 3 columns separate it by tabs

<_io.TextIOWrapper name='Germplasm.tsv' mode='r' encoding='UTF-8'>
<_io.TextIOWrapper name='LocusGene.tsv' mode='r' encoding='UTF-8'>
match Germplasm:  AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351

match LocusGene:  AT1G01040	DCL1	332

**PROBLEM 2:**

In [2]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
            
#In order to make the connection with the database

'Connected: root@mysql'

In [3]:
#%sql create database examdb #creating a new database
%sql show databases #checking that the database has been correctly created

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.

[('information_schema',),
 ('examdb',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('pruebafuncion',),
 ('sys',),
 ('testing123',),
 ('university',)]

In [5]:
%sql use examdb #it tells the computer the database we want to work with
#%sql create table LocusGene(locus VARCHAR(20) NOT NULL PRIMARY KEY, gene VARCHAR(20) NOT NULL, protein_lenght VARCHAR(20) NOT NULL) #we will need 2 tables for my db.One for each file. The locus had been used as primary key due to the fact that both files have the same locus values
#%sql show tables #checking the tables
%sql DESCRIBE LocusGene #checking the conditions defined for the table

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(20)', 'NO', '', None, ''),
 ('protein_lenght', 'varchar(20)', 'NO', '', None, '')]

In [9]:
#%sql create table TGermplasm(locus VARCHAR(20) NOT NULL PRIMARY KEY, germplasm VARCHAR(20) NOT NULL, phenotype VARCHAR(800) NOT NULL, pubmed VARCHAR(20) NOT NULL) #This table is to save the data from the file vGermplasm. The primary key has been defined following the same idea as in the previous table
#%sql show tables #checking the tables
%sql DESCRIBE TGermplasm #checking the conditions given to the table

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(20)', 'NO', '', None, ''),
 ('phenotype', 'varchar(800)', 'NO', '', None, ''),
 ('pubmed', 'varchar(20)', 'NO', '', None, '')]

**PROBLEM 3:**

In [34]:
import pymysql.cursors #necessary this import in order to work with database in python

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='examdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
#connection needed to work directly in our database. %sql is no longer needed
   
vGermplasm.seek(0) #once the file has been open, it is necessary to put the pointer at the beggining of the file to be able to read it
        
for line in vGermplasm.readlines():  #a loop where we indicate that as long as we have a line in the file vGermplasm, we want to read the line one by one

    (locus0, germplasm0, phenotype0, pubmed0)= line.split('\t') #split command where we can split the information of our file in different variables (locus0...) Each split is going to be make when the computer finds a tab 
    locus0 = str(locus0) #making sure that the information save it in the variable is a string
    germplasm0 = str(germplasm0) #making sure that the information save it in the variable is a string
    phenotype = str (phenotype0) #making sure that the information save it in the variable is a string
    pubmed0= str(pubmed0) #making sure that the information save it in the variable is a string
    print(locus0) #checking that the loop and the split is working
    print (germplasm0) #checking that the loop and the split is working
    print (phenotype0) #checking that the loop and the split is working
    print (pubmed0) #checking that the loop and the split is working
    try:
        with connection.cursor() as cursor: #using the connection and the library
            sql = "insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('{}','{}','{}','{}')".format(locus0, germplasm0, phenotype0, pubmed0) #we are going to insert in our Germplasm table the value save in our variables (locus0...(contains the information of the file vGermplasm))           
            cursor.execute(sql) #we execute the previously action
            print(sql) #we check that everything has worked


                  
                        
        connection.commit() #we commint the changes made in out database. In python the canges are no make by default
            
    except Exception as e:#in case the try has not worked out,it will print an error
        print ("Something has failed. Error: " + str(e))
       
    
    
    finally:
        #connection.close()
        get_ipython().run_line_magic('sql', 'show databases')

Locus
germplasm
phenotype
pubmed
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('Locus','germplasm','phenotype','pubmed')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT1G01040
CS3828
Increased abundance of miRNA precursors.
17369351
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT1G01040','CS3828','Increased abundance of miRNA precursors.','17369351')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT1G01060
lhy-101
The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.
16891401
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT1G01060','lhy-101','The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.','16891401')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT1G01140
SALK_058629
hypersensitive to low potassium media
17486125
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT1G01140','SALK_058629','hypersensitive to low potassium media','17486125')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT1G01220
SALK_012400C
fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.
18199744
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT1G01220','SALK_012400C','fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.','18199744')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT2G03720
SALK_042433
Multiple straight hairs
16367956
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT2G03720','SALK_042433','Multiple straight hairs','16367956')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT2G03800
gek1-1
Ethanol hypersensitivity.
15215505
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT2G03800','gek1-1','Ethanol hypersensitivity.','15215505')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT2G04240
xerico
Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.
17933900
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT2G04240','xerico','Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.','17933900')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT2G05210
pot1-1
No visible phenotype.
17627276
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT2G05210','pot1-1','No visible phenotype.','17627276')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02130
rpk2-2
The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.
17419837
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02130','rpk2-2','The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.','17419837')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02140
afp4-1
Decreased germination on high concentrations of glucose and sorbitol.
18484180
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02140','afp4-1','Decreased germination on high concentrations of glucose and sorbitol.','18484180')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02230
rgp1-1
rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.
21478444
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02230','rgp1-1','rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.','21478444')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02260
tir3-1 RGLG1:rglg1 rglg2
The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.
17586653
Something has failed. Error: (1406, "Data too long for column 'germplasm' at row 1")
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02310
sep2-1
Non-described subtle phenotype.
10821278
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02310','sep2-1','Non-described subtle phenotype.','10821278')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02680
atnbs1-1
Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.
17672843
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02680','atnbs1-1','Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.','17672843')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02850
CS3816
The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.
17568770
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02850','CS3816','The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.','17568770')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G02870
vtc4-1
ascorbate deficient
16595667
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G02870','vtc4-1','ascorbate deficient','16595667')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT3G03260
hdg8-1
No visible phenotype.
16778018
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT3G03260','hdg8-1','No visible phenotype.','16778018')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G14790
pdd17
Defective pollen development.
19237690
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G14790','pdd17','Defective pollen development.','19237690')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G15210
bmy1-2
Plants cold-shocked for 6h have an increased starch content compared to wildtype.
16297066
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G15210','bmy1-2','Plants cold-shocked for 6h have an increased starch content compared to wildtype.','16297066')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G15560
cla1-1
Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.
10982425
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G15560','cla1-1','Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.','10982425')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G15570
maa3
Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.
18772186
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G15570','maa3','Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.','18772186')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G15802
Athspb-2
Early flowering, reduced fertility, aborted seeds.
20388662
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G15802','Athspb-2','Early flowering, reduced fertility, aborted seeds.','20388662')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G15880
esd4-2
Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.
17513499
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G15880','esd4-2','Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.','17513499')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G16420
prz1-1
Altered response to auxin and cytokinin
12747832
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G16420','prz1-1','Altered response to auxin and cytokinin','12747832')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT4G16480
atint4-2
No visible phenotype.
16603666
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT4G16480','atint4-2','No visible phenotype.','16603666')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT5G10480
pas2-3
Segregates 25% embryo lethal.
18799749
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G10480','pas2-3','Segregates 25% embryo lethal.','18799749')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT5G10510
plt3-1
Short roots and shortened root meristem.
17960244
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G10510','plt3-1','Short roots and shortened root meristem.','17960244')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT5G11110
kns2
Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.
18779216
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G11110','kns2','Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.','18779216')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT5G11260
hy5-101
Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.
16891401
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G11260','hy5-101','Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.','16891401')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT5G11510
myb3r4-1
No visible phenotype.
17287251
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G11510','myb3r4-1','No visible phenotype.','17287251')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
AT5G12200
pyd2-2
The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.
19413687
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G12200','pyd2-2','The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.','19413687')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql

9 rows affected.
AT5G13290
crn-1
Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.
12345678
insert into TGermplasm (locus, germplasm, phenotype, pubmed) values ('AT5G13290','crn-1','Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.','12345678')
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.

In [51]:
#Same idea for the other table with the other file

import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='examdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
vLocusGene.seek(0)    

for line in vLocusGene.readlines():
    (locus1, gene1, protein_lenght1)= line.split('\t')
    locus1 = str(locus1)
    gene1 = str(gene1)
    protein_lenght1 = str (protein_lenght1)
    locus1 = locus1.strip()
    gene1 = gene1.strip()
    protein_lenght1 = protein_lenght1.strip() 
    print(locus1)
    print (gene1)
    print (protein_lenght1)
    print("2")
    try:
        with connection.cursor() as cursor:
            sql1 = "insert into LocusGene (locus, gene, protein_lenght) values ('{}','{}','{}','{}')".format(locus1, gene1, protein_lenght1)           
            print ("3")
            cursor.execute(sql1)
            print (sql1)


        #connection.commit()

    except Exception as e:
        print ("Something has failed. Error: " + str(e))
        
#    finally:
    #connection.close()
 #   get_ipython().run_line_magic('sql', 'show databases')

1
Locus
Gene
ProteinLength
2
Something has failed. Error: tuple index out of range
AT1G01040
DCL1
332
2
Something has failed. Error: tuple index out of range
AT1G01060
LHY
290
2
Something has failed. Error: tuple index out of range
AT1G01140
CIPK9
223
2
Something has failed. Error: tuple index out of range
AT1G01220
FKGP
190
2
Something has failed. Error: tuple index out of range
AT2G03720
MRH6
189
2
Something has failed. Error: tuple index out of range
AT2G03800
GEK1
196
2
Something has failed. Error: tuple index out of range
AT2G04240
XERICO
256
2
Something has failed. Error: tuple index out of range
AT2G05210
POT1A
221
2
Something has failed. Error: tuple index out of range
AT3G02130
RPK2
284
2
Something has failed. Error: tuple index out of range
AT3G02140
TMAC2
300
2
Something has failed. Error: tuple index out of range
AT3G02230
RGP1
301
2
Something has failed. Error: tuple index out of range
AT3G02260
BIG
279
2
Something has failed. Error: tuple index out of range
AT3G02310
SEP2
175
2
Something has failed. Error: tuple index out of range
AT3G02680
NBS1
190
2
Something has failed. Error: tuple index out of range
AT3G02850
SKOR
234
2
Something has failed. Error: tuple index out of range
AT3G02870
VTC4
311
2
Something has failed. Error: tuple index out of range
AT3G03260
HDG8
194
2
Something has failed. Error: tuple index out of range
AT4G14790
SUV3
312
2
Something has failed. Error: tuple index out of range
AT4G15210
BAM5
313
2
Something has failed. Error: tuple index out of range
AT4G15560
DXS
219
2
Something has failed. Error: tuple index out of range
AT4G15570
MAA3
294
2
Something has failed. Error: tuple index out of range
AT4G15802
HSBP
254
2
Something has failed. Error: tuple index out of range
AT4G15880
ESD4
265
2
Something has failed. Error: tuple index out of range
AT4G16420
ADA2B
279
2
Something has failed. Error: tuple index out of range
AT4G16480
INT4
284
2
Something has failed. Error: tuple index out of range
AT5G10480
PAS2
301
2
Something has failed. Error: tuple index out of range
AT5G10510
AIL6
310
2
Something has failed. Error: tuple index out of range
AT5G11110
SPS2
232
2
Something has failed. Error: tuple index out of range
AT5G11260
HY5
221
2
Something has failed. Error: tuple index out of range
AT5G11510
MYB3R-4
336
2
Something has failed. Error: tuple index out of range
AT5G12200
PYD2
310
2
Something has failed. Error: tuple index out of range
AT5G13290
CRN
189
2
Something has failed. Error: tuple index out of range

**PROBLEM 4: **

In [63]:
#in the terminal: touch reports.txt

reports = open("reports.txt", "w")
reports.write(vGermplasm + LocusGene + "\n")
reports.close()

checkcontent = open("reports.txt", "r")

NameError: name 'LocusGene' is not defined

In [65]:
import pymysql.cursors #necessary this import in order to work with database in python

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='examdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
#connection needed to work directly in our database. %sql is no longer needed
   
vLocusGene.seek(0)

import re #In order to do a search with regular expresions we need to import the library re first

matchObj=re.search (r'SKOR'|'MAA3', vLocusGene.read()) #we do a research while reading the file vLocusGene. In this case, the pattern is o the gene MAA3 or the gene SKOR

if matchObj:
    print ("match Gene: ", matchObj.group()) #we print the match
else:
    print ("No match")
  
reports = open("reports.txt", "a")
reports.append(matchObj.group())  # with append we write the document after the information that that document already content it
reports.close()

connection.close()

TypeError: unsupported operand type(s) for |: 'str' and 'str'